<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,">
    <style>
        body {
            font-family: sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .main {
            margin-left: 200px;
        }


    </style>
</head>
<body>

<div class="sidenav">
    <a href="{{pages.[0]}}/{{username}}">Account Settings</a>
    <a href="{{pages.[1]}}/{{username}}">Convert Currency</a>
    <a href="{{pages.[2]}}/{{username}}">Contact</a>
</div>

<div class="main">
    <h2>Welcome {{first_name}}</h2>
    <p>Checking Account: {{checkings}} </p>
    <p>Savings Account: {{savings}} </p>
</div>

</body>
</html>